<IfModule mod_rewrite.c>
  RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
RewriteCond $1 !^(index\.php|old|img|favicon\.ico|css|js|apple-touch-icon\.png|robots\.txt|email)
RewriteRule ^(.*)$ index.php/?action=$1 [L]
</IfModule>
