/* Layout */
body { font-family: Arial, Tahoma, Verdana; font-size: 14pt; font-variant: normal; font-weight: normal; cursor: default;
	color: #484848; background-color: #519aca; }
#wrapper { width: 800px; margin: 10px auto 25px auto; background: #fff url(ivy.jpg) no-repeat left top;
  -moz-border-radius: 12px; border-radius: 12px; -webkit-border-radius: 12px; }

#header { font-family: Helvetica,Arial,sans-serif; padding-left: 90px;
  -moz-border-radius: 12px 12px 0 0; border-radius: 12px 12px 0 0; -webkit-border-radius: 12px 12px 0 0; }
#header h2 { font-size: 18px; padding: 10px; margin: 0;  display: inline-block; font-weight: normal; }
#header h2 a { font-size: 32px; font-weight: bold; margin-right: 4px; }
#header h2, #header h2 a, #nav a, #content a { color: #396394; text-decoration: none; }
#header h2 a:hover { color: #000; }
#header #tagline { font-style: italic; font-size: 20px; line-height: 25px; color: #a9a9a9; }

#nav { padding: 2px 0 2px 10px; background: #cacaca url(nav.png) repeat-x left center; margin-left: 30px; }
#nav a { color: #3c5591; font-size: 11pt; text-align: center;  display: inline-block;
  line-height: 24px; padding: 0 8px 0 8px; height: 24pxpt; margin-right: 3px; }
#nav a:hover { background-color: #99e; color: #ff2; }
#nav a.current { background-color: #006699; color: #fafaf8; }

#footer { font-size: 9pt; padding: 10px; border-top: 2px #4e76ab solid; background-color: #dbdbdb;
	-moz-border-radius: 0 0 12px 12px; border-radius: 0 0 12px 12px; -webkit-border-radius: 0 0 12px 12px; }
#footer .right { float: right; }
#footer .valid { color: #a0c3ff; text-decoration: none; margin-left: 10px; }

/* Content: */
#content { text-align: justify; padding: 15px; line-height: 1.5em; }
#content, .content th, .content td { font-size: 13px; color:#484848; line-height:19px; }
.content th, .content td { vertical-align: top; }
.content th { color: #6d6b6b; text-align: right; padding-right: 4px; }
#content a { color: #1e90ff; font-weight: bold; text-decoration: underline; }
#content p { margin-top: 0; margin-bottom: 10px; }
.head{ font-size: 15px; color: #6d6b6b; font-weight:bold; }
.head-b { font-family: 'Arial Black'!important; letter-spacing: 1px; }
#content .hilite { background-color: #ff9966; padding: 2px 6px 2px 6px; border: 1px #ff3300 solid; 
  -moz-border-radius: 6px; border-radius: 6px; -webkit-border-radius: 6px; }
#content h2 { margin: 0; }

div.right { border: 1px #966 solid; float: right; padding: 3px; margin-left: 30px; }
div.clear { height: 0; clear: both; }

/* Home */
.pg-home, .pg-product { padding: 10px 0!important; sdf  }
#inner-home { padding: 15px; }
#slideshow { position:relative; height:300px; /*box-shadow:0 0 20px rgba(0,0,0,0.4);*/ }
#slideshow > div{ position:absolute; top:0px; left:0px; right:0px; bottom:0px; }
.pg-home ul { margin: 0; padding: 0; list-style-type: none; }
.pg-home li { display: block; height: 70px; }
.pg-home li img { margin: 0 6px 12px 0; float: left; }

/* Demos */
.pg-demos div { padding-left: 30px; }

/* Contact */
#thanks { color: #f33; font-weight: bold; text-align: center; padding: 4px;
 border: 1px #f88 solid; width: 300px; margin: auto; font-size: 12pt; }
.action-link, .p-dload, .p-demos { float: right; clear: both; padding: 6px 12px 6px 12px;
  background-color: #b3cee1; border: 1px #008 solid!important;
  -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.required { color: #f33; font-weight: bold; }
hr { color: #333; }
.contact th { text-align: left; }

.select-editable { position:relative; background-color:white; border:solid grey 1px;  width:120px; height:18px; }
.select-editable select { position:absolute; top:0px; left:0px; font-size:14px; border:none; width:120px; margin:0; }
.select-editable input { position:absolute; top:0px; left:0px; width:100px; padding:1px; font-size:12px; border:none; }
.select-editable select:focus, .select-editable input:focus { outline:none; }

/* Product */
.p-dload, .p-demos { text-align: right; margin-left: 20px; }
.p-dload a, .p-demos a { color: #386cb7!important; }
.p-demos { margin-top: 10px; width: 260px; }
.p-dload span { border-bottom: 1px #336666 dotted; }
img.p-icon { float: left; margin-right: 8px; }

.pg-product hr { clear: both; margin-top: 15px; }
